@inherits LayoutComponentBase

<PageTitle>Invest.TaxCalculator</PageTitle>

<main class="d-flex flex-nowrap" style="height: 100vh; overflow-y: hidden;">
    <NavMenu/>

   <article class="content px-5 py-4 w-100" style="overflow-y: scroll">
       @Body
   </article>
</main>