<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <i class="bi bi-credit-card me-2 fs-4"></i>
      <span class="fs-4">Налоги</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <NavLink class="nav-link mx-3 text-white" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door me-1"></i> Главная
        </NavLink>
        
        <NavLink class="nav-link mx-3 text-white" href="operations" Match="NavLinkMatch.All">
            <i class="bi bi-plus-circle me-1"></i> Операции
        </NavLink>
        
        <NavLink class="nav-link mx-3 text-white" href="inventory" Match="NavLinkMatch.All">
            <i class="bi bi-plus-circle me-1"></i> Инвентаризация
        </NavLink>
        
        <NavLink class="nav-link mx-3 text-white" href="transactions" Match="NavLinkMatch.All">
            <i class="bi bi-plus-circle me-1"></i> Сделки
        </NavLink>
        
        <NavLink class="nav-link mx-3 text-white" href="reports" Match="NavLinkMatch.All">
            <i class="bi bi-plus-circle me-1"></i> Налоги
        </NavLink>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}