@page "/"

<PageTitle>Калькулятор налогов</PageTitle>

<h1>Калькулятор налогов</h1>

Данное приложение позволяет рассчитывать налоги для операций на брокерском счете

<ul>
    <li>Заполните <NavLink href="operations">операции</NavLink></li>
    <li>Проведите <NavLink href="inventory">инвентаризацию</NavLink></li>
    <li>Создайте отчет</li>
    <li>Проверьте <NavLink href="transactions">сделки</NavLink></li>
    <li>Посмотрите <NavLink href="reports">налоги</NavLink></li>
</ul>