@page "/"

<PageTitle>Калькулятор налогов</PageTitle>

<h1>Калькулятор налогов</h1>

<p>
    Данное приложение позволяет рассчитывать налоги для операций на брокерском счете
</p>

<div class="list-group">
    <NavLink class="list-group-item list-group-item-action" href="operations">Заполните операции</NavLink>
    <NavLink class="list-group-item list-group-item-action" href="inventory">Проведите инвентаризацию</NavLink>
    <NavLink class="list-group-item list-group-item-action" href="operations">Создайте отчет</NavLink>
    <NavLink class="list-group-item list-group-item-action" href="transactions">Проверьте сделки</NavLink>
    <NavLink class="list-group-item list-group-item-action" href="reports">Посмотрите налоги</NavLink>
</div>