@page "/"

<PageTitle>Калькулятор налогов</PageTitle>

<h1>Калькулятор налогов</h1>

Данное приложение позволяет рассчитывать налоги для операций на брокерском счете

<ul>
    <li>Заполните <NavLink href="operations">операции</NavLink></li>
</ul>